[submodule "public/lib/jqueryui"]
	path = public/lib/jqueryui
	url = https://github.com/jquery/jquery-ui.git
[submodule "public/lib/slickgrid"]
	path = public/lib/slickgrid
	url = https://github.com/mleibman/SlickGrid.git
[submodule "public/lib/backbone"]
	path = public/lib/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "public/lib/underscore"]
	path = public/lib/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "public/lib/achtung"]
	path = public/lib/achtung
	url = https://github.com/voxwerk/jquery-achtung.git
[submodule "public/lib/uniform"]
	path = public/lib/uniform
	url = https://github.com/pixelmatrix/uniform.git
[submodule "public/lib/treeTable"]
	path = public/lib/treeTable
	url = https://github.com/ludo/jquery-plugins.git
