@import compass
// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset
// To configure blueprint, edit the partials/base.sass file.
@import partials/base
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint


// Elements
h1,h2,h3,h4,h5,h6
  clear: both
  width: 100%

//Footer
@import "compass/layout/sticky-footer"
@include sticky-footer(54px, "#container", "#container_footer", "#footer")

// Blueprint business
+blueprint-typography
+blueprint-utilities
+blueprint-debug
+blueprint-interaction

// For alert key flash mesages
.alert 
  +error

// ------------------------------
// Container, header, and content
// ------------------------------
body
  background-color: #EEE
#container
  width: 600px
  margin-left: auto
  margin-right: auto
  .application &
    width: 100%
    margin-left: 0
    margin-right: 0
  // Don't change the bottom margin on the container, its set by the sticky footer call which
  // makes the footer stick to the bottom of the page regardless of the height of the content.
  // See http://compass-style.org/docs/reference/compass/layout/sticky_footer/
  +clearfix
  #content
    padding: 20px
  
header
  z-index: 10
  padding-bottom: 10px
  a, a:visited
    color: #222
    text-decoration: none      
  a:hover
    text-decoration: underline
    color: #666
  h1
    display: inline
    a:hover
      text-decoration: none
  nav
    float: right

  .application &
    position: absolute
    top: 15px
    right: 20px
    nav
      float: left
    h1
      display: inline
      margin-left: 10px
      font-size: 20px   

#footer
  padding: 0px 20px
  margin: 0 auto
  +clearfix

#content
  .pane, .window
    +border-radius(5px)
    background-color: #FFF
  
  .window
    width: 100%
  .pane
    width: 50%
    &.right
      margin-right: -1px
      float: right !important

.actions
  width: 100%
  padding-top: 20px
  clear: both


// ---------------------------
// Forms and Form Elements
// ---------------------------
form
  +blueprint-form

  &.inline
    +blueprint-inline-form
  .input

    label
      width: 80px
      padding: 10px 10px 0px 0px
      float: left

    &.field_with_errors 
      input
        border: 2px solid #FBC2C4
        margin-bottom: 0px

      .error
        display: block
        border-top: 0px
        margin-left: 90px
        width: 293px

// Time picker
div
  &.time-picker
    position: absolute
    background: #fff
    z-index: 99
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5)
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5)
    box-shadow: 0 4px 8px rgba(0,0,0,0.5)    
    ul
      list-style-type: none
      overflow: auto
      width: 110px
      height: 191px
    li
      cursor: pointer
      &.selected a
        font-weight: normal
        margin: -1px
        background: #5f83b9
        color: #FFFFFF
        text-shadow: 0px 1px 1px #234386
        border-color: #466086
        -moz-border-radius: 0
        -webkit-border-radius: 0
        border-radius: 0

// -------------------------
// Specific places in the app
// -------------------------
body.application
  .flash
    // Hide flash messages so they can be displayed by the app.
    display: none 
  .application-tabs
    background: transparent
    & > .ui-tabs-panel
      background: white

  // Notifications
  .achtung
    text-shadow: none
    font-style: normal
// Dashboard
